body {
    background-color: lightslategray;
}

h1 {
    text-align: center;
    color: darkblue;
    padding: 5px;
}

nav {
    background-color: darkslategrey;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;

}
nav ul li {
    display: inline-block;
    margin: 20px;
    color: white;
    font-size: 24px;
}

#firstimage {
    height: 400px;
    margin: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#secondimage {
    height:300px;
}

footer {
    background: darkslategrey;
    text-align: center;
    color: white;
}
